{% extends 'index.html' %}
{% block title %}
<title>KarlShop | Forget Password Page </title>
{% endblock %}
{% block body %}
<div class="container-fluid w-100 my-5">
    <div class="w-50 m-auto">
        <h5 class="text-center"><span class="text-bold">Reset</span> Password </h5>
        {% if messages %}
        {% for m in messages %}
        <div class="alert alert-danger text-center alert-dismissible fade show" role="alert">
            {{m}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        <form action="/forget-password3/" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <input type="password" name="password" placeholder="Enter New Password : " class="form-control">
            </div>
            <div class="mb-3">
                <input type="cpassword" name="cpassword" placeholder="Enter Confirm Password : " class="form-control">
            </div>
            <div class="mb-3">
                <button class="btn btn-primary w-100 btn-sm">Submit</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
